#header {
    /*background: #f00;*/
    border-bottom: 1px solid #bab6b6;
    height: 61px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#header i{

    flex-grow: 1;
    text-align: end;
    padding-left: 36px;
    font-size: 18px;
    padding-top: 18px;

}

#header img{
    padding-right: 55px;
    height: 55px;
    flex-basis: 12%;
}